.my_container{
    width: 1000px;
    margin: 50px auto;
}

.container_hero{
    width: 75%;
    position: relative;
}

.container_hero>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.my_text{
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 100;
    color: transparent;
    cursor: default;
}

.container_immagini_s{
    width: 25%;
    position: relative;
}

.container_immagini_s i{
    font-size: 30px;
    position: absolute;
    color: grey;
    background-color: black;
    border-radius: 50%;
}

.container_immagini_s i:nth-child(1){
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.container_immagini_s i:nth-child(2){
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}




.container_immagini_s img {
    height: 100%;
    width: 100%;
}




